ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    color: #08C;
    background: none repeat scroll 0% 0% #EEE;
    line-height: 18px;
}

ol {
    list-style-type: none;
    list-style: outside none decimal;
}

ol i.icon-move {
    cursor: pointer;
}

ol li.highlight {
    color: #999999;
}

.icon-move {
    background-position: -168px -72px;
}

ol li.highlight i.icon-move {
    background-image: url("/Widget/assets/glyphicons-halflings.png");
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/Widget/assets/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}