﻿@font-face {
    font-family: 'Ariasun';
    src: url('../fonts/Ariasun.eot');
    src: url('../fonts/Ariasun.eot#iefix') format('embedded-opentype'),
         url('../fonts/Ariasun.woff') format('woff'),
         url('../fonts/Ariasun.ttf') format('truetype');
}