@import url(font.css);
/* Font Import */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333843!important;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333843!important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #333843!important;
}
/* Reset */
html {
  font-size: 100%;
}
body {
  color: #555;
  background-color: #ffffff !important;
  font-family: 'Ariasun', arial, tahoma;
  font-size: 13px;
}
/*** /\/\/\/\/\/\/\/\/\ Global Style /\/\/\/\/\/\/\/\/\ ***/
/* Typography */
h1 {
  line-height: 43px;
}
h2 {
  line-height: 35px;
}
h3 {
  line-height: 30px;
}
h4 {
  line-height: 22px;
}
h3 small,
h4 small,
h5 small {
  font-family: 'Ariasun', arial, tahoma;
  font-weight: 300;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  margin-top: 0;
  font-family: 'Ariasun', arial, tahoma;
  font-weight: 300;
  color: #505458;
}
h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-bottom: 10px;
}
a {
  text-shadow: none !important;
  color: #0d638f;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s !important;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
label {
  font-weight: normal;
}
.db-block {
  display: block;
}
.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* Box shadow */
.bottom-box-shadow {
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.center-box-shadow {
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
/* button  */
.btn-primary {
  background-color: #0CAADB;
  border-color: #1C97BD;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2bc4f4;
  border-color: #0ca6d6;
}
.btn-lg {
  font-size: 15px;
}
/* Margins */
.mt50 {
  margin-top: 50px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
/* List */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-horizontal > li,
.list-inline > li {
  float: right;
  margin-left: 10px;
  padding: 0;
  display: block;
}
.box-icon,
[class^="box-icon-"],
[class*=" box-icon-"] {
  z-index: 2;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  background: #0ebcf2;
  color: #FFF;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/*** /\/\/\/\/\/\/\/\/\ Page header /\/\/\/\/\/\/\/\/\ ***/
.navbar,
.navbar-inverse {
  background-image: none;
  border: none;
  border-radius: 0px;
}
.nav {
  padding-left: 10px;
  padding-right: 10px;
}
.nav .logo {
  padding: 10px;
  float: left;
  color: #fff;
}
/*** /\/\/\/\/\/\/\/\/\ breadcrumb , sub header /\/\/\/\/\/\/\/\/\ ***/
.sub-header {
  border-bottom: 2px solid #0ebcf2;
  min-height: 45px;
  position: relative;
  z-index: 999;
}
.navbar-toggle {
  background: #222222;
  border-radius: 2px;
}
.navbar-toggle .icon-bar {
  background: #ffffff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: #0ebcf2;
  color: #ffffff;
  transition: 0.15s linear all;
}
/*** /\/\/\/\/\/\/\/\/\ Page Content /\/\/\/\/\/\/\/\/\ ***/
.page-content {
  width: 100%;
  margin: 0 auto;
}
.page-content .content {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}
.result-title {
  margin-top: 25px;
}
/*** /\/\/\/\/\/\/\/\/\ Forms grid box /\/\/\/\/\/\/\/\/\ ***/
.form-control,
.form-control:focus {
  border: 1px solid #D8D8D8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-control:focus {
  border-color: #0089fa;
}
/*** /\/\/\/\/\/\/\/\/\ Search form /\/\/\/\/\/\/\/\/\ ***/
.search-form {
  border: 1px solid #0ebcf2;
  padding: 15px 20px;
  min-height: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.btn-group-select-num > .btn {
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  height: 28px;
  line-height: 26px;
  width: 28px;
  padding: 0;
  background: none;
  color: #737373;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
}
.btn-group-select-num > .btn.active {
  background-color: #0CAADB;
  border-color: #1C97BD;
  color: #fff;
}
.btn-group-select-num > .btn.active:hover {
  border-color: #1C97BD;
}
.btn-group-select-num > .btn:hover {
  border-color: #555;
}
/*** /\/\/\/\/\/\/\/\/\ Search result /\/\/\/\/\/\/\/\/\ ***/
.page-result {
  padding-bottom: 50px;
}
.booking-list {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;
}
.booking-item-container {
  margin-bottom: 25px;
  position: relative;
}
.booking-item {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 17px;
  border: 1px solid #E6E6E6;
  color: #737373;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.booking-item:hover {
  border-color: #0ebcf2;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.booking-item-airline-logo {
  max-width: 50px;
}
.booking-item-airline-logo p {
  margin-bottom: 0;
  margin-top: 5px;
}
.booking-item-airline-logo img {
  width: 100%;
}
.booking-item-departure,
.booking-item-arrival {
  float: right;
  width: 47%;
  font-size: 13px;
}
.booking-item-departure h5,
.booking-item-arrival h5 {
  margin-bottom: 4px;
}
.booking-item-departure i,
.booking-item-arrival i {
  float: right;
  padding-left: 8px;
  font-size: 20px;
}
.booking-item-departure {
  margin-left: 6%;
}
.booking-item-date {
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 1em;
  padding-left: 32px;
}
.booking-item-destination {
  font-size: 12px;
}
.booking-item-price {
  font-size: 24px;
}
/* Booking filters */
.booking-filters {
  background: #282828;
  border: 1px solid #262626;
  border-radius: 4px;
  padding: 15px 0;
  color: #fff !important;
}
.booking-filters > h3 {
  padding: 0 20px;
}
.booking-filters h3 {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.booking-filters h5 {
  color: #0ebcf2;
}
.booking-filters .booking-filters-list > li {
  margin-top: 15px;
  padding: 15px 20px 0 20px;
  border-top: 1px solid #111;
}
.booking-filters .booking-filters-list > li .booking-filters-title {
  margin-bottom: 5px;
}
.booking-filters .booking-filters-list > li .booking-filters-title small {
  font-size: 11px;
  font-weight: 400;
  position: relative;
  top: 10px;
  float: right;
  line-height: 1.3em;
  color: #ccc;
}
.booking-filters .booking-filters-list > li .booking-filters-sub-title {
  font-size: 15px;
  line-height: 1em;
  margin-top: 10px;
}
.booking-filters .irs-from,
.booking-filters .irs-to,
.booking-filters .irs-single {
  color: #fff;
}
.booking-filters .irs-grid-text {
  color: #d9d9d9;
}
.booking-filters .booking-filters-white {
  color: #737373;
  background: #fafafa;
  border-color: #ccc;
}
.booking-filters .booking-filters-white .irs-from,
.booking-filters .booking-filters-white .irs-to,
.booking-filters .booking-filters-white .irs-single {
  color: #737373;
}
.booking-filters .booking-filters-white .booking-filters-list > li {
  border-color: #ccc;
}
.booking-sort {
  font-size: 10px;
}
.booking-sort .booking-sort-title {
  font-size: 14px;
}
.booking-sort .booking-sort-title > a {
  color: #737373;
}
/**  Slider **/
.top-area,
.special-area {
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
  direction: ltr;
}
.bg-mask {
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background: #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
}
.bg-parallax {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: 50% 0;
  background-attachment: fixed;
}
.bg-content {
  position: relative;
  z-index: 99;
}
.bg-content h2 {
  font-size: 22px;
}
.search-tabs-bg h1 {
  text-align: right;
  color: #FFF;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.search-tabs-bg .nav {
  padding: 0 2px;
}
.search-tabs-bg > .tabbable > .tab-content > .tab-pane {
  direction: rtl;
  background: #FFF;
  padding: 25px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs > li.active a {
  background-color: #0ebcf2;
  color: #ffffff;
}
.nav-tabs > li > a {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  border: none !important;
  color: #FFF;
  border-radius: 0;
}
.nav-tabs > li > a i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 2px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
/* Footer */
.main-footer {
  padding: 60px 0 30px 0;
  color: #E6E6E6;
  font-size: 11px;
  line-height: 1.4em;
  background: #262626 url(../img/bg_footer.png) top center no-repeat scroll;
}
.main-footer h4 {
  font-size: 16px;
  padding-bottom: 2px;
  color: #FFF;
  border-bottom: 1px solid #494949;
}
.main-footer .list {
  overflow: hidden;
  padding-right: 15px;
}
.main-footer .contact-us h5 {
  font-size: 13px;
  padding-right: 15px;
}
.main-footer .contact-us .info-phone {
  color: #ffffff;
  direction: ltr;
}
.main-footer .contact-us .info-phone i {
  color: #ffffff;
}
.main-footer .contact-us .info-web {
  color: #88d70a;
}
.main-footer .contact-us .info-web i {
  color: #ffffff;
}
.txt-box-dark {
  background-color: #5C5C5C;
  border-color: #7A7A7A;
  color: #fff;
}
.list-footer > li {
  margin-bottom: 5px;
}
.list-footer > li a {
  color: #FFF;
  font-size: 12px;
}
/*** /\/\/\/\/\/\/\/\/\ 404 page /\/\/\/\/\/\/\/\/\ ***/
.page-404 .text-hero {
  font-size: 200px !important;
  color: #fff;
}
.page-404 .btn-ghost {
  border-color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.8);
  color: #fff;
}
.page-404 .full-center {
  color: #ffffff;
}
.page-404 .full-center h1 {
  color: #ffffff;
}
.page-404 .full-center .descr-404 {
  font-size: 13px;
  line-height: 22px;
}
.page-404 .full-page {
  position: relative;
}
.page-404 .full,
.page-404 .full-page {
  width: 100%;
  height: 100%;
}
.page-404 .bg-holder {
  position: relative;
  overflow: hidden;
}
.page-404 .bg-holder > .bg-holder-content,
.page-404 .bg-holder > .bg-content {
  position: relative;
  z-index: 7;
}
.page-404 .bg-holder > .bg-blur:before {
  content: '';
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.page-404 .bg-holder > .bg-blur {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  width: 50% !important;
  height: 50% !important;
  -webkit-transform-origin: 1% 1%;
  -moz-transform-origin: 1% 1%;
  -o-transform-origin: 1% 1%;
  -ms-transform-origin: 1% 1%;
  transform-origin: 1% 1%;
  -webkit-transform: scale(2.1);
  -moz-transform: scale(2.1);
  -o-transform: scale(2.1);
  -ms-transform: scale(2.1);
  transform: scale(2.1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  z-index: 0;
}
