﻿/* Font Import */
@import url(font.css);
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#333843!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#333843!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#333843!important;
}

@bgColor:#eee;
@white:#fff;
@fontAriasun:'Ariasun',arial,tahoma;
@baseGreen:#00A753;
@blue:#0089FA;
@skyblue:#87CEEB;
@red:#FF002B;
@orange:#FFA900;
/* Reset */
html{
	font-size: 100%;
}
body {
  color:#555;
  background-color: @bgColor !important ;
  font-family: @fontAriasun;
  font-size: 13px;
}

/*** /\/\/\/\/\/\/\/\/\ Global Style /\/\/\/\/\/\/\/\/\ ***/

/* Typography */
h1{
	line-height:43px
}
h2{
	line-height:35px
}
h3{
	line-height:30px
}
h4{
	line-height:22px
}
h3 small, h4 small, h5 small {
  font-family: 'Ariasun',arial,tahoma;
  font-weight: 300;	
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
	margin:10px 0;
  font-family: @fontAriasun;
  font-weight: 300;
  color:#505458
}

h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
  padding-bottom: 10px;
}

a {
  text-shadow: none !important;
  color: #0d638f;
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s  !important;
}

a,a:focus, a:hover, a:active {
  outline: 0;
  text-decoration:none;
}
label{
    font-weight:normal;
    font-size: 12px;
    display:block
}
.db-block{
    display:block;
}

/* Box shadow */
.bottom-box-shadow{
    -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.13);
}
.center-box-shadow 
{
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}

/*** /\/\/\/\/\/\/\/\/\ Page header /\/\/\/\/\/\/\/\/\ ***/
/*.navbar, .navbar-inverse {
	background-color:#fff;
	background-image:none;
	border:none;
	border-radius:0px;
}*/

.nav {

    .logo {
        float: left;
    }
}

.header-nav-box {
    .nav {
        a {
            color: #333333;
            line-height: 35px;

            i {
                position: relative;
                right: -10px;
            }
        }
        .dropdown-toggle{
            &:after{
                content: '\f0d7';
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 12px;
                position: relative;
                right: 5px;
                top: 2px;
                color:#808080;
            }
        }
    }

    .navbar-header {
        margin-left: 10px;
        padding: 6px 10px;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #E5E5E5;
    }

    .dropdown-menu {
        padding-right: 0;
        padding-left: 0;

        a {
            color: #777777;
            line-height: 30px;
            border-right: 4px solid #fff;
            font-size:12px;

            i {
                color: #333333;
                position: relative;
                right: -10px;
                font-size: 14px;
            }

            &:hover {
                border-right-color: #848484;
            }
        }
    }

    .btn-options {
        color: #333333;
        display: block;
        padding: 4px 4px 0;
        margin-top: 2px;
        border: 1px solid #fafafa;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        float: right;

        &:hover {
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            background-color: #FFF;
            border-color: #C2C2C2;
        }

        i {
            font-size: 25px;
        }
    }

    .navbar-toggle {
        float: left;
        margin-top: 9px;
        padding: 7px 10px;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

        .icon-bar {
            height: 3px;
            background: #999;
        }
    }

    .navbar-collapse {
        background-color: #fafafa;
    }
}


#appList{
    display:none;
}
.app-icon-box{
        width: 47%;
        float: right;
        padding: 5px;
        border: 1px solid #fff;
        margin-bottom: 6%;
        margin-left: 6%;
        cursor:pointer;
        text-align: center;

        &:hover{
            border-color:#E2E2E2;
            -webkit-transition: border 0.3s linear;
            -moz-transition: border 0.3s linear;
            -o-transition: border 0.3s linear;
            transition: border 0.3s linear;
          .app-name{
            color: @blue;
          }
        }
        .app-img{
            max-width:100%;
            }
        &.last{
            margin-left:0
        }
        .app-name{
            display: block;
            padding: 2px;
            text-align: center;
            margin-top: 3px;
        }
    }



/*** /\/\/\/\/\/\/\/\/\ breadcrumb /\/\/\/\/\/\/\/\/\ ***/
.map-shortkey {
    background-color: #FAFAFA;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid #E5E5E5;
    height: 53px;
    padding-top: 1px;
    position: relative;
    z-index: 5;
}
/*** /\/\/\/\/\/\/\/\/\ Page Content /\/\/\/\/\/\/\/\/\ ***/
.page-content{
    width:100%;
    margin:0 auto;

    .content{
        padding:20px;
    }
}

/*** /\/\/\/\/\/\/\/\/\ Forms grid box /\/\/\/\/\/\/\/\/\ ***/
.form-title{
    border-bottom: 1px solid #eee;
    display: block;
    padding-bottom: 5px;
    margin-bottom:10px;
}

.radio, .checkbox{
    padding-left:0;
    padding-right:20px;
}
/*** /\/\/\/\/\/\/\/\/\ Grid box /\/\/\/\/\/\/\/\/\ ***/
.grid  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}
.grid:after, .grid:before {
  display: table;
  content: "";
}

.grid-green{background-color: @green !important;}
.grid-red{background-color: @red !important;}
.grid-blue{background-color: @blue !important;}
.grid-skyblue{background-color:@skyblue !important;}
.grid-yellow{background-color: @orange !important;}

.grid-max,.grid-min,.grid-norm{ margin: 24px auto;}
.grid-max{
    max-width: 1170px;
}
.grid-norm{
    max-width: 944px;
}
.grid-min {
    max-width: 780px;
}

.grid-title {
  border-bottom: 1px solid #eee;
  padding: 10px 25px;
  background: #FFF;
  font-size: 15px;

& h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
&.descriptive{
	padding-left: 23px !important;
    padding-top: 20px !important;
}
&.descriptive .actions{
    margin-left: 14px;
    margin-top: -16px;
}
&.descriptive .actions a{
    color:#4c5264;
}
&.descriptive .actions a:hover{
    opacity:0.5;
}
&.descriptive .actions i{
  font-size:22px;
  margin-right:10px
}
&.descriptive p{
  display: inline-block;
  width:60%;
  white-space: nowrap;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#7a7d82;
  font-size:12px;
}
&.clickable{
	cursor:pointer;
}
 h4 i {
  font-size: 14px;
  margin-left: 5px;
  color: @baseGreen;
}
 a{
     i{
         color:@white;
         font-size:11px
     }
 }

 .tools,
 .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: left;
}

 .tools > a {
  display: inline-block;
  height: 16px;
  margin-left:5px;
}

 .dropdown-menu i {
  color: #000 ;
}

 .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;  
  filter:'alpha(opacity=60)';
}

 .actions > .btn-group {
  margin-top: -12px;
}

 .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}

 .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

 .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}

 .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}

}

.grid .solid .grid-title{
	color:#fff !important;
	border-bottom:1px solid #fff;
}
.grid-body {
  clear: both;
  background-color: #FFF;
  padding: 26px;

&.light-blue, .grid.light-blue {
  background-color: #bfd5fa  !important;
}

&.blue, .grid.blue {
  background-color: #58acf3 !important;
}

&.red, .grid.red {
  background-color: #f35958 !important;
}

&.yellow, .grid.yellow {
  background-color: #ffb848 !important;
}

&.green, .grid.green {
  background-color: #0aa699 !important;
}

&.purple, .grid.purple {
  background-color: #852b99 !important;
}

&.light-grey, .grid.light-grey {
  background-color: #fafafa !important;
}

&.dark-grey, .grid.dark-grey {
  background-color: #555555 !important;
}

 .btn-toolbar {
  margin: 0px !important;
  padding: 0px !important;
}
}


/*** /\/\/\/\/\/\/\/\/\  Data-table customization/\/\/\/\/\/\/\/\/\ ***/
.dataTables_wrapper {
 .pagination ul > li {
	display:inline-block;
	padding-left: 0px;
}
}
.dataTables_wrapper  .pagination ul > li:last-child > a,
.dataTables_wrapper  .pagination ul > li:last-child > span{
	margin-left:-8px;
}
.dataTables_wrapper .pagination ul > li > a, .pagination ul > li > span {
	border:none;
	box-shadow:none;
	border-radius:3px;
	color: #6F7B8A;
}

.dataTables_wrapper .pagination ul {
	box-shadow:none;
	font-size: 12px;
	padding:0;
}

.dataTables_wrapper .pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus{
 color:#C2C6CB !important;
 opacity:0.65 !important;
 background-color: #fff !important;
	
}
.dataTables_wrapper  .pagination ul > li > a{
	padding:5px 10px;
}
.dataTables_wrapper  .pagination ul > .active > a, .pagination ul > .active > span {
	background-color:#F3F6F9;
	font-weight:600;
}
.dataTables_wrapper .pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span{
	background-color: #e8edf3;
 }
 .dataTables_wrapper .pagination ul > li.next > a:hover{
  background-color: #fff;
	color:#000;
}
 .dataTables_wrapper .pagination ul > li.prev > a:hover{
  background-color: #fff;
  color:#000;
}

.dataTables_wrapper .pagination ul > li.prev.disabled > a:hover{
  color:#C2C6CB ;
 opacity:0.65 ;
 background-color: #fff ;
}
.dataTables_wrapper .pagination ul > li.next.disabled > a:hover{
  color:#C2C6CB ;
  opacity:0.65 ;
  background-color: #fff ;
}


/*** /\/\/\/\/\/\/\/\/\  Tabs  /\/\/\/\/\/\/\/\/\ ***/
.tab-content {
    >.tab-pane {
        padding: 15px;
    }
}


/*** /\/\/\/\/\/\/\/\/\  jumbotron  /\/\/\/\/\/\/\/\/\ ***/

.jumbotron{
    font-size:13px;
    padding:15px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.user-account-info{
    padding-right:115px;
    padding-left:30px;
    float:right;
    >div{
        float:right;
        padding-left:15px;
        white-space:nowrap;
        display:flex;
        line-height:4;
        min-width: 50px;
        position:relative
    }
    i{
        font-size:14px;
        color:#333333;
    }
    .user-message{}
    .user-notify{
      .badge{
        background-color: @red;
      }
    }
    .user-apps{}
    .user-name{}

    .popover{
        width:220px;

        i{
            color:#fff;
        }
    }
}

/*** /\/\/\/\/\/\/\/\/\  dashboard  /\/\/\/\/\/\/\/\/\ ***/
.ds-sm{

    .grid-body{
        padding:20px 20px;
        border-radius: 2px;
    }
}
.my-ds-sm-box{
    i{
        font-size:48px;
        margin-right:12px;
        float:left;
        color:@white
    }
    .progress{
        color:@white;
        height:6px;
        margin-bottom: 0px;
        border: none;
        //border-color: rgba(255, 255, 255, 0.4);
        background-color: rgba(0,0,0,0.1);
        .progress-bar{
            background-color:rgba(0,0,0,0.12);
        }
    }
    .progress-list{
        color:@white
    }
    .details{
        color:@white;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .title{
        float:left;
        font-size: 12px;
    }
    .media-heading{
        float:right;
        font-size:22px;
        color:@white
    }
  .status{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 2px;
    margin-bottom: 2px;
    border-radius: 2px;
  }
}

@brand-primary: #4d90fe;
@brand-success: #35aa47;
@brand-info:    #5bc0de;
@brand-warning: #faa937;
@brand-danger:  #d84a38;

@red:#F63645;
@blue:#01ADEF;
@green:#4AC859;
@orange:#FFA31F;
@skyblue:#35C7FA;


@red:#ff4a43;
@blue:#22beef;
@green:#a2d200;
@orange:#ffc100;
@skyblue:#35C7FA;

//.grid-green{
//        .progress{
//        height:10px;
//        border-color:@green;
//        .progress-bar{
//            background-color: @green !important;
//        }
//    }
//}
//.grid-red{
//            .progress{
//        height:10px;
//        border-color:@red;
//        .progress-bar{
//            background-color: @red !important;
//        }
//    }
//}
//.grid-blue{
//        .progress{
//        height:10px;
//        border-color:@blue;
//        .progress-bar{
//            background-color: @blue !important;
//        }
//    }
//}
//.grid-yellow{
//        .progress{
//        height:10px;
//        border-color:@orange;
//        .progress-bar{
//            background-color: @orange !important;
//        }
//    }}
//

/*** /\/\/\/\/\/\/\/\/\  List  /\/\/\/\/\/\/\/\/\ ***/

.user-permission-list{
    position:relative;
    li{
        float:right;
        list-style:none;
        min-width: 110px;
        display: block;
    }
}

/*** /\/\/\/\/\/\/\/\/\  Panel  /\/\/\/\/\/\/\/\/\ ***/
.panel {
    .panel-group {
        margin-bottom: 0;
    }
}

.list-group-item {
    .radio,.checkbox {
        margin:0;
          }
}



/*** /\/\/\/\/\/\/\/\/\  Modal  /\/\/\/\/\/\/\/\/\ ***/

.module-manage-page{
    .thumbnail{-moz-box-shadow: 0px 2px 5px #999; -webkit-box-shadow: 0px 2px 5px #999; box-shadow: 0px 2px 5px #999;}
}
/*** /\/\/\/\/\/\/\/\/\  Modal  /\/\/\/\/\/\/\/\/\ ***/
@modal-sm:300px;
@modal-md:600px;
@modal-lg:900px;

@screen-md-min:992px;
@screen-sm-min:768px;

// Scale up the modal
@media (min-width: @screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: @modal-md;
    margin: 30px auto;
  }
  // Modal sizes
  .modal-sm { width: @modal-sm; }
}

@media (min-width: @screen-md-min) {
  .modal-lg { width: @modal-lg; }
}