﻿// color pallet
@white: #eee;
@fontAriasun: 'Ariasun',arial,tahoma;
@green: #00A753;
@blue: #4285F4;
@red: #FF002B;
@orange: #FFA900;
/* File Manager */

.fm-options {
    .btn {
        font-size: 11px;

        i {
            color: #555;
            margin-left: 4px;
            font-size: 13px;
            position: relative;
            top: 2px;
        }
    }
}

.site-map {
    ul {
        margin-bottom: 0;

        li {
            font-size: 11px;

            i {
                font-size: 13px;
            }
        }
    }
}

.fm-body {
    background: #F5F5F5;
    border: 1px solid #DADADA;
    border-top: 0;
}

.file-explore {
    min-height: 300px;
}

.type-ico {
    font-size: 20px;
    float: left;
    padding: 4px;
    color: #8F8F8F;
}

.folder-box {
    width: calc(15.2%);
    height: 40px;
    border-radius: 1px;
    position: relative;
    background-color: #FFF;
    background-image: none;
    border: 0;
    padding: 5px 12px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    cursor: default;
    margin-left: 15px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:hover, &:focus, &.active {
        background-color: @blue;

        .folder-name, .type-ico {
            color: @white;
        }
    }

    .folder-name {
        font-size: 13px;
        line-height: 30px;
    }
}


.file-box {
    width: calc(15.2%);
    position: relative;
    background-color: #FFF;
    padding: 0px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    cursor: default;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:hover, &:focus {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

        .file-name {
            color: @white;
            background-color: @blue;
        }

        i {
            color: @white !important;
        }
    }

    .thumbnail {
        margin-bottom: 0;
        max-height: 128px;
        overflow: hidden;
    }

    .file-name {
        display: block;
        padding: 10px 5px;

        i {
            float: left;
            color: #DB4437;
        }
    }
}

/*
    Context Menu */

.context-menu {
    ul {
        li {
            a {
                cursor: pointer;
                font-size: 12px;
                border-right: 4px solid #fff;
                line-height: 2;

                &:hover {
                    -moz-transition: all linear 1s;
                    -o-transition: all linear 1s;
                    -webkit-transition: all linear 1s;
                    transition: all linear 1s;
                    border-right-color: #848484;
                }
            }

            i {
                position: relative;
                right: -12px;
            }
        }
    }
}

.dz-hidden-input{
  display: none !important;
}

/*
  croper
*/

.jcrop-keymgr{
  display: none !important;
}
