/* File Manager */
.fm-options .btn {
  font-size: 11px;
}
.fm-options .btn i {
  color: #555;
  margin-left: 4px;
  font-size: 13px;
  position: relative;
  top: 2px;
}
.site-map ul {
  margin-bottom: 0;
}
.site-map ul li {
  font-size: 11px;
}
.site-map ul li i {
  font-size: 13px;
}
.fm-body {
  background: #F5F5F5;
  border: 1px solid #DADADA;
  border-top: 0;
}
.file-explore {
  min-height: 300px;
}
.type-ico {
  font-size: 20px;
  float: left;
  padding: 4px;
  color: #8F8F8F;
}
.folder-box {
  width: calc(15.2%);
  height: 40px;
  border-radius: 1px;
  position: relative;
  background-color: #FFF;
  background-image: none;
  border: 0;
  padding: 5px 12px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  cursor: default;
  margin-left: 15px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.folder-box:hover,
.folder-box:focus,
.folder-box.active {
  background-color: #4285f4;
}
.folder-box:hover .folder-name,
.folder-box:focus .folder-name,
.folder-box.active .folder-name,
.folder-box:hover .type-ico,
.folder-box:focus .type-ico,
.folder-box.active .type-ico {
  color: #eeeeee;
}
.folder-box .folder-name {
  font-size: 13px;
  line-height: 30px;
}
.file-box {
  width: calc(15.2%);
  position: relative;
  background-color: #FFF;
  padding: 0px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  cursor: default;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.file-box:hover,
.file-box:focus {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.file-box:hover .file-name,
.file-box:focus .file-name {
  color: #eeeeee;
  background-color: #4285f4;
}
.file-box:hover i,
.file-box:focus i {
  color: #eeeeee !important;
}
.file-box .thumbnail {
  margin-bottom: 0;
  max-height: 128px;
  overflow: hidden;
}
.file-box .file-name {
  display: block;
  padding: 10px 5px;
}
.file-box .file-name i {
  float: left;
  color: #DB4437;
}
/*
    Context Menu */
.context-menu ul li a {
  cursor: pointer;
  font-size: 12px;
  border-right: 4px solid #fff;
  line-height: 2;
}
.context-menu ul li a:hover {
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  border-right-color: #848484;
}
.context-menu ul li i {
  position: relative;
  right: -12px;
}
.dz-hidden-input {
  display: none !important;
}


/*
  croper
*/

.jcrop-keymgr{
    display: none !important;
}