*{
    font-family: "Ariasun", Arial, Helvetica, Sans-serif;
}
.alert-box {
    position:absolute;
    left: 35%;
    width:50%;
    max-width:400px;
    margin-top: -45px;
}
#login-box{
    position:relative;
    width:50%;
    max-width:400px;
    border-radius:5px;  
    background:#fff;
    border:1px solid #ccc;
    opacity: 0.92;
    margin: 0 auto;
    min-width: 150px;
}

#login-box form{
    padding:5%;
}

#login-box h3{
    padding:2% 3%;
    background:#f1f1f1;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom:1px solid #ddd;
    font-weight:lighter;
    text-align: center;
    margin: 0;
}
#login-box h3 img{width: 100%; max-width: 250px}


#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index:-1
}

    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }


/** Login **/
.login-container{
    margin-top:13%;
}
/** Lockscreen **/
.lockscreen-wrapper{
    position:relative;
    margin-top:20%;
}
.lockscreen-wrapper .profile-wrapper{
    border-radius: 100px;
    float: right;
    height: 65px;
    margin-left: 11px;
    margin-top: 9px;
    overflow: hidden;
    width: 65px;
    display:inline-block
}
.lockscreen-wrapper .user{
    text-align:right;
}
.lockscreen-wrapper .user-form{
    margin-top: -10px;
    display: inline-block;
    float:right;
    min-width:320px;
}
.lockscreen-wrapper .user-form input,.lockscreen-wrapper .user-form button{
    float:right;
    margin-right:10px;
}