@import url(font.css);
/* Font Import */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333843!important;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333843!important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #333843!important;
}
/* Reset */
html {
  font-size: 100%;
}
body {
  color: #555;
  background-color: #eeeeee !important;
  font-family: 'Ariasun', arial, tahoma;
  font-size: 13px;
}
/*** /\/\/\/\/\/\/\/\/\ Global Style /\/\/\/\/\/\/\/\/\ ***/
/* Typography */
h1 {
  line-height: 43px;
}
h2 {
  line-height: 35px;
}
h3 {
  line-height: 30px;
}
h4 {
  line-height: 22px;
}
h3 small,
h4 small,
h5 small {
  font-family: 'Ariasun', arial, tahoma;
  font-weight: 300;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: 'Ariasun', arial, tahoma;
  font-weight: 300;
  color: #505458;
}
h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-bottom: 10px;
}
a {
  text-shadow: none !important;
  color: #0d638f;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s !important;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
label {
  font-weight: normal;
  font-size: 12px;
  display: block;
}
.db-block {
  display: block;
}
/* Box shadow */
.bottom-box-shadow {
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.13);
}
.center-box-shadow {
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}
/*** /\/\/\/\/\/\/\/\/\ Page header /\/\/\/\/\/\/\/\/\ ***/
/*.navbar, .navbar-inverse {
	background-color:#fff;
	background-image:none;
	border:none;
	border-radius:0px;
}*/
.nav .logo {
  float: left;
}
.header-nav-box .nav a {
  color: #333333;
  line-height: 35px;
}
.header-nav-box .nav a i {
  position: relative;
  right: -10px;
}
.header-nav-box .nav .dropdown-toggle:after {
  content: '\f0d7';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 12px;
  position: relative;
  right: 5px;
  top: 2px;
  color: #808080;
}
.header-nav-box .navbar-header {
  margin-left: 10px;
  padding: 6px 10px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #E5E5E5;
}
.header-nav-box .dropdown-menu {
  padding-right: 0;
  padding-left: 0;
}
.header-nav-box .dropdown-menu a {
  color: #777777;
  line-height: 30px;
  border-right: 4px solid #fff;
  font-size: 12px;
}
.header-nav-box .dropdown-menu a i {
  color: #333333;
  position: relative;
  right: -10px;
  font-size: 14px;
}
.header-nav-box .dropdown-menu a:hover {
  border-right-color: #848484;
}
.header-nav-box .btn-options {
  color: #333333;
  display: block;
  padding: 4px 4px 0;
  margin-top: 2px;
  border: 1px solid #fafafa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: right;
}
.header-nav-box .btn-options:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-color: #C2C2C2;
}
.header-nav-box .btn-options i {
  font-size: 25px;
}
.header-nav-box .navbar-toggle {
  float: left;
  margin-top: 9px;
  padding: 7px 10px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.header-nav-box .navbar-toggle .icon-bar {
  height: 3px;
  background: #999;
}
.header-nav-box .navbar-collapse {
  background-color: #fafafa;
}
#appList {
  display: none;
}
.app-icon-box {
  width: 47%;
  float: right;
  padding: 5px;
  border: 1px solid #fff;
  margin-bottom: 6%;
  margin-left: 6%;
  cursor: pointer;
  text-align: center;
}
.app-icon-box:hover {
  border-color: #E2E2E2;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.app-icon-box:hover .app-name {
  color: #22beef;
}
.app-icon-box .app-img {
  max-width: 100%;
}
.app-icon-box.last {
  margin-left: 0;
}
.app-icon-box .app-name {
  display: block;
  padding: 2px;
  text-align: center;
  margin-top: 3px;
}
/*** /\/\/\/\/\/\/\/\/\ breadcrumb /\/\/\/\/\/\/\/\/\ ***/
.map-shortkey {
  background-color: #FAFAFA;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid #E5E5E5;
  height: 53px;
  padding-top: 1px;
  position: relative;
  z-index: 5;
}
/*** /\/\/\/\/\/\/\/\/\ Page Content /\/\/\/\/\/\/\/\/\ ***/
.page-content {
  width: 100%;
  margin: 0 auto;
}
.page-content .content {
  padding: 20px;
}
/*** /\/\/\/\/\/\/\/\/\ Forms grid box /\/\/\/\/\/\/\/\/\ ***/
.form-title {
  border-bottom: 1px solid #eee;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.radio,
.checkbox {
  padding-left: 0;
  padding-right: 20px;
}
/*** /\/\/\/\/\/\/\/\/\ Grid box /\/\/\/\/\/\/\/\/\ ***/
.grid {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}
.grid:after,
.grid:before {
  display: table;
  content: "";
}
.grid-green {
  background-color: #a2d200 !important;
}
.grid-red {
  background-color: #ff4a43 !important;
}
.grid-blue {
  background-color: #22beef !important;
}
.grid-skyblue {
  background-color: #35c7fa !important;
}
.grid-yellow {
  background-color: #ffc100 !important;
}
.grid-max,
.grid-min,
.grid-norm {
  margin: 24px auto;
}
.grid-max {
  max-width: 1170px;
}
.grid-norm {
  max-width: 944px;
}
.grid-min {
  max-width: 780px;
}
.grid-title {
  border-bottom: 1px solid #eee;
  padding: 10px 25px;
  background: #FFF;
  font-size: 15px;
}
.grid-title h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-title.descriptive {
  padding-left: 23px !important;
  padding-top: 20px !important;
}
.grid-title.descriptive .actions {
  margin-left: 14px;
  margin-top: -16px;
}
.grid-title.descriptive .actions a {
  color: #4c5264;
}
.grid-title.descriptive .actions a:hover {
  opacity: 0.5;
}
.grid-title.descriptive .actions i {
  font-size: 22px;
  margin-right: 10px;
}
.grid-title.descriptive p {
  display: inline-block;
  width: 60%;
  white-space: nowrap;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7a7d82;
  font-size: 12px;
}
.grid-title.clickable {
  cursor: pointer;
}
.grid-title h4 i {
  font-size: 14px;
  margin-left: 5px;
  color: #00a753;
}
.grid-title a i {
  color: #ffffff;
  font-size: 11px;
}
.grid-title .tools,
.grid-title .actions {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: left;
}
.grid-title .tools > a {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
}
.grid-title .dropdown-menu i {
  color: #000 ;
}
.grid-title .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .6;
  filter: 'alpha(opacity=60)';
}
.grid-title .actions > .btn-group {
  margin-top: -12px;
}
.grid-title .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}
.grid-title .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}
.grid-title .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}
.grid-title .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}
.grid .solid .grid-title {
  color: #fff !important;
  border-bottom: 1px solid #fff;
}
.grid-body {
  clear: both;
  background-color: #FFF;
  padding: 26px;
}
.grid-body.light-blue,
.grid-body .grid.light-blue {
  background-color: #bfd5fa  !important;
}
.grid-body.blue,
.grid-body .grid.blue {
  background-color: #58acf3 !important;
}
.grid-body.red,
.grid-body .grid.red {
  background-color: #f35958 !important;
}
.grid-body.yellow,
.grid-body .grid.yellow {
  background-color: #ffb848 !important;
}
.grid-body.green,
.grid-body .grid.green {
  background-color: #0aa699 !important;
}
.grid-body.purple,
.grid-body .grid.purple {
  background-color: #852b99 !important;
}
.grid-body.light-grey,
.grid-body .grid.light-grey {
  background-color: #fafafa !important;
}
.grid-body.dark-grey,
.grid-body .grid.dark-grey {
  background-color: #555555 !important;
}
.grid-body .btn-toolbar {
  margin: 0px !important;
  padding: 0px !important;
}
/*** /\/\/\/\/\/\/\/\/\  Data-table customization/\/\/\/\/\/\/\/\/\ ***/
.dataTables_wrapper .pagination ul > li {
  display: inline-block;
  padding-left: 0px;
}
.dataTables_wrapper .pagination ul > li:last-child > a,
.dataTables_wrapper .pagination ul > li:last-child > span {
  margin-left: -8px;
}
.dataTables_wrapper .pagination ul > li > a,
.pagination ul > li > span {
  border: none;
  box-shadow: none;
  border-radius: 3px;
  color: #6F7B8A;
}
.dataTables_wrapper .pagination ul {
  box-shadow: none;
  font-size: 12px;
  padding: 0;
}
.dataTables_wrapper .pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #C2C6CB !important;
  opacity: 0.65 !important;
  background-color: #fff !important;
}
.dataTables_wrapper .pagination ul > li > a {
  padding: 5px 10px;
}
.dataTables_wrapper .pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #F3F6F9;
  font-weight: 600;
}
.dataTables_wrapper .pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #e8edf3;
}
.dataTables_wrapper .pagination ul > li.next > a:hover {
  background-color: #fff;
  color: #000;
}
.dataTables_wrapper .pagination ul > li.prev > a:hover {
  background-color: #fff;
  color: #000;
}
.dataTables_wrapper .pagination ul > li.prev.disabled > a:hover {
  color: #C2C6CB ;
  opacity: 0.65 ;
  background-color: #fff ;
}
.dataTables_wrapper .pagination ul > li.next.disabled > a:hover {
  color: #C2C6CB ;
  opacity: 0.65 ;
  background-color: #fff ;
}
/*** /\/\/\/\/\/\/\/\/\  Tabs  /\/\/\/\/\/\/\/\/\ ***/
.tab-content > .tab-pane {
  padding: 15px;
}
/*** /\/\/\/\/\/\/\/\/\  jumbotron  /\/\/\/\/\/\/\/\/\ ***/
.jumbotron {
  font-size: 13px;
  padding: 15px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.user-account-info {
  padding-right: 115px;
  padding-left: 30px;
  float: right;
}
.user-account-info > div {
  float: right;
  padding-left: 15px;
  white-space: nowrap;
  display: flex;
  line-height: 4;
  min-width: 50px;
  position: relative;
}
.user-account-info i {
  font-size: 14px;
  color: #333333;
}
.user-account-info .user-notify .badge {
  background-color: #ff4a43;
}
.user-account-info .popover {
  width: 220px;
}
.user-account-info .popover i {
  color: #fff;
}
/*** /\/\/\/\/\/\/\/\/\  dashboard  /\/\/\/\/\/\/\/\/\ ***/
.ds-sm .grid-body {
  padding: 20px 20px;
  border-radius: 2px;
}
.my-ds-sm-box i {
  font-size: 48px;
  margin-right: 12px;
  float: left;
  color: #ffffff;
}
.my-ds-sm-box .progress {
  color: #ffffff;
  height: 6px;
  margin-bottom: 0px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.my-ds-sm-box .progress .progress-bar {
  background-color: rgba(0, 0, 0, 0.12);
}
.my-ds-sm-box .progress-list {
  color: #ffffff;
}
.my-ds-sm-box .details {
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 15px;
}
.my-ds-sm-box .title {
  float: left;
  font-size: 12px;
}
.my-ds-sm-box .media-heading {
  float: right;
  font-size: 22px;
  color: #ffffff;
}
.my-ds-sm-box .status {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 2px;
  margin-bottom: 2px;
  border-radius: 2px;
}
/*** /\/\/\/\/\/\/\/\/\  List  /\/\/\/\/\/\/\/\/\ ***/
.user-permission-list {
  position: relative;
}
.user-permission-list li {
  float: right;
  list-style: none;
  min-width: 110px;
  display: block;
}
/*** /\/\/\/\/\/\/\/\/\  Panel  /\/\/\/\/\/\/\/\/\ ***/
.panel .panel-group {
  margin-bottom: 0;
}
.list-group-item .radio,
.list-group-item .checkbox {
  margin: 0;
}
/*** /\/\/\/\/\/\/\/\/\  Modal  /\/\/\/\/\/\/\/\/\ ***/
.module-manage-page .thumbnail {
  -moz-box-shadow: 0px 2px 5px #999;
  -webkit-box-shadow: 0px 2px 5px #999;
  box-shadow: 0px 2px 5px #999;
}
/*** /\/\/\/\/\/\/\/\/\  Modal  /\/\/\/\/\/\/\/\/\ ***/
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
